<select [(ngModel)]="selectedValue" (change)="onSelectionChange()">
  @for (lane of lanes; track lane.id) {
  <option [value]="lane.id">{{ lane.value }}</option>
  }
</select>
<div class="svgBox">
  <svg viewBox="0 0 850 390">
    <!-- To Draw Path -->
    @for (path of paths; track path) {
    <polyline
      [attr.points]="path.points"
      [attr.stroke]="path.color"
      stroke-width="35"
      fill="none"
      class="animated-path"></polyline>
    }
    <!-- Draw vertices -->
    <g>
      @for (vertex of vertices; track vertex) {
        <!-- creating circle based on vertex points -->
      <circle
        [attr.cx]="vertex.location.coordinates[0] * scale"
        [attr.cy]="vertex.location.coordinates[1] * scale"
        [attr.fill]="getVertexColor(vertex.vertexType)"
        r="20"></circle>
        <!-- text for displaying text on circle -->
      @if (vertex.vertexType === 'SERVICE_POINT') {
      <text
        [attr.x]="vertex.location.coordinates[0] * scale + getLabelOffsetX()"
        [attr.y]="vertex.location.coordinates[1] * scale + getLabelOffsetY()"
        font-size="12px" fill="black">{{ vertex.name }}</text>
      } 
    }
    </g>
  </svg>
</div>
